/**
------------------------------------------------------------------
GLOBAL
------------------------------------------------------------------
 */

*{
    font-family: Arial, Verdana, sans-serif;
    user-select: none;
    /* Stop flash on-click*/
    -webkit-tap-highlight-color: transparent;
    /*TODO: Remove this line below for production. The cursor must not be seen*/
    cursor: pointer;
}

/* RESET */
div{
    border: 0;
    margin: 0;
    color: white;
    background-color: #111;
}

body{
    /* background is set to #444 for testing boundaries */
    background-color: black;
    margin: 0;
}

.screen{
    height: 1080px;
    width: 1920px;
}

/*
This is put here as a proof of concept of making the non active components grayed out.
Implementation Strategy:
Render Modal:
Makes the modal visible
Makes all screens opacity of .5
Close Modal:
Makes modal invisible
Makes all screens opacity of 1.
*/
.opaque{
    opacity:.4;
}

.modal{}

/* Universal */
/* Available */
.available{
    background-color: #39F57F;
}

/* Unavailable */
.unavailable{
    background-color: red;
}

.selected{
    background-color: #444444;
}

/**
------------------------------------------------------------------
INITIAL SCREEN
------------------------------------------------------------------
 */
#appContainer{}

#mainContainer{
    width: 1896px;
    height: 823px;
    display: inline-block;
    float: left;
}

#mainTopSection{
    height: 823px;
    width: 1920px;
    background-color: #444444;
}

#leftColorBar{
    width: 120px;
    height: 100%;
    display: inline-block;
    float:left;
}

#rightInfoScreen{
    display: inline-block;
    float:left;
    width:1680px;
    height:778px;
    padding-left:96px;
    padding-top:67px;
}

#timeContainer{
    font-size: 56px;
    padding-bottom: 45px;
}

#locationContainer{
    font-size: 157px;
    padding-bottom: 33px;
}

#statusContainer{
    font-size: 78px;
    height: 123px;
}

#reserveContainer{
    height: 146px;
    padding-left: 48px;
    padding-top: 87px;
    padding-bottom: 54px;
    width: 1526px;
}

#reserveButton{
    font-size: 45px;
    background: #222;
    width: 480px;
    text-align: center;
    border-radius: 4px;
    border: 2px solid white;
    padding-top: 33px;
    padding-bottom: 33px;
    display: inline-block;
    margin-left: 72px;
    float:left;
}

#reserveButton.reserve-active{
    color: turquoise;
    border: 2px solid turquoise;
}

#reserveButton.reserve-inactive{
    color: #444444;
    border: 2px solid #444444;
}

#currentDateContainer{
    height: 67px;
    padding-left:72px;
    display: inline-block;
    width: 50%;
}

#firstInstruction{
    font-weight:bold;
    font-size: 45px;
    float: left;
    padding-left: 48px;
}

#nextAvailableContainer{
    display:none;
    color: turquoise;
    font-weight:bold;
    padding-left:72px;
    height: 45px;
    background: #222222;
    padding-top: 4px;
}

/* Zoop Stuff */
/* zoop-container */
#zoopContainer{
    /*margin-bottom: 10px;*/
    overflow: hidden;
    width: 1920px;
    height: 256px;
}

/* zoop-content-wrapper */
#bookingSlotZoopContainer{
    width: 1920px;
    overflow-x: scroll;
    display: inline-block;
    float: left;
    overflow-y: hidden;
    height: 256px;
}

#bookingSlotZoopContainer::-webkit-scrollbar{
    background-color: black;
    /* TODO: Restore for production. This removes scrollbar */
    /* display:none; */
}


::-webkit-scrollbar-track{
    background-color: black;
}

::-webkit-scrollbar-track{
    background-color: black;
}

::-webkit-scrollbar-thumb{
    background-color: aqua;
    border-radius: 10px;
}


/* zoop-content */
#bookingSlotZoopContent{
    display: inline-block;
    width: max-content;
}

#bookingSlotZoopContent>:first-child {
    margin-right: 48px;
}

/* zoop-section */
.day-container{
    display: inline-block;
}

/* zoop-section-title */
.day-title{
    background-color: cyan;
    color: black;
    display: flex;
    height: 60px;
    padding-right: 9px;
    padding-left: 19px;
    justify-content: center;
    border-bottom: 4px solid black;
}

/* zoop-title-label */
.day-label{
    color: black;
    scroll-snap-stop: always;
    background-color: inherit;
    position: sticky;
    top: 0;
    left: 21px;
    right: 19px;
    padding: 11px 24px 11px 12px;
    font-weight: 700;
    font-size: 33px;
}

/* zoop-section-node-list */
.booking-slot-list{
    /*padding-top: 15px;*/
    display: inline-block;
}

/* zoop-node */
.bookingSlot{
    display: inline-block;
    width: 228px;
    height: 146px;
    float:left;
    padding-top:6px;
    padding-bottom:6px;
    horiz-align: center;
    font-size: 67px;
    border-right: 3px solid #444444;
    text-align:center;
}

/* End Zoop Stuff */

.bookingSlot.available{
    background-color: #39F57F;
    color: black;
    /*
    background-color: #111111;
    Why was this set this way?

    */
    /* border-bottom: 10px solid #39F57F; */
}

.bookingSlot.unavailable{
    background-color: red;
    color: #222;
    /* border-bottom: 10px solid red; */
}

#rightRibbon{
    display: inline-block;
    width: 24px;
    height: 100%;
    float:left;
}

.selected{
    color: black;
    background-color: turquoise;
}

/**
------------------------------------------------------------------
MODAL GLOBAL
------------------------------------------------------------------
 */
.modal{
    border: 4px solid #39F57F;
    position: absolute;
    top: 112px;
    left: 360px;
    width: 1200px;
    height: 855px;
    background-color: #444444;
}

.modal-top{
    text-align:center;
    font-weight: bold;
    height: 78px;
    font-size: 56px;
    padding-top: 18px;
    background-color: black;
}

.modal-content{
    font-size: 72px;
    padding: 65px;
    height: 465px;
}

.modal-bottom{
    position: absolute;
    bottom: 0;
    padding-left: 72px;
    padding-right: 72px;
    padding-top: 22px;
    width: 1056px;
    height: 135px;
}

.modal-button{
    text-align: center;
    display: inline-block;
    padding: 22px 24px 22px 24px;
    font-weight: bold;
    font-size: 56px;
    height: 78px;
    background-color: blue;
}

/**
------------------------------------------------------------------
CONFIRMATION MODAL
------------------------------------------------------------------
 */
#confirmationModal{
    display: none;
}

#cancelConfirmationButton{
    float: right;
}


/**
------------------------------------------------------------------
RESULT MODAL
------------------------------------------------------------------
 */
#resultModal{
    display: none;
}
/**
------------------------------------------------------------------
ERROR MODAL
------------------------------------------------------------------
 */
#errorModal{
    display: none;
}

#errorMiddle{

}

/**
------------------------------------------------------------------
INSTRUCTION SCREEN
------------------------------------------------------------------
 */
#instructionScreen{
    display: none;
}

#mainInstructionText{
    padding-top: 90px;
    text-align: center;
    font-size: 135px;
}

#instructionSubtext{
    padding-top: 191px;
    text-align: center;
}

#instructionButtons{
    position: relative;
    top: 357px;
    padding: 70px;
}

